.header{
    background-color: #131921;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
}

.header_logo{
    width: 100px;
    margin: 0 20px;
    margin-top: 18px;
}

.header_search{
    display: flex;
    flex:1 ;
}

.header_searchInput{
    height: 12px;
    padding: 10px;
    border: none;
    width: 100%;
}
.header_searchIcon{
    padding: 5px;
    height: 22px !important;
    background-color: #cd9042;

}

.header_nav{
    display: flex;
    justify-content: space-evenly;
}
.header_link{
    color: white;
    text-decoration: none;
}
.header_option{
 display: flex; 
 flex-direction: column;  
 margin: 0 10px;
}
.header_optionLine2{
    font-size:13px ;
    font-weight: 800;
}
.header_optionLine1{
    font-size: 10px;
}
.header_optionBasket{
    display: flex;
    align-items: center;
}
.header_basketCount{
  margin: 0 10px;  
}
