.login{
    background-color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.login_logo{
    width: 100px;
    object-fit: contain;
    margin-top: 20px;
    margin-bottom: 20px;
}
.login_container{
    width: 300px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 1px solid lightgray;
   
}
*{
    margin: 0;
}
.login_container>h1{
    font-weight: 500px;
    margin-bottom: 20px;
}
.login_container>p{
    font-size: 12px;
    margin-bottom: 15px;
}
.login_container>form>h5{
    margin-bottom: 5px;
}
.login_container>form>input{
    height: 30px;
    margin-bottom: 10px;
    background-color: white;
    width: 98%;
}
.login_signInButton{
    background-color: #f0c14b;
    border-radius: 2px;
    width: 100%;
    height: 30px;
    border: 1px solid;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29 ;
}
.login_registerButton{
    border-radius: 2px;
    width: 100%;
    height: 30px;
    border: 1px solid;
    margin-top: 10px;
    border-color: darkgray ;
}