.product{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin: 10px;
    padding: 20px;
    max-height: 400px;
    min-width: 100px;
    width: 100%;
    background-color: white;
    z-index: 1;
}
.product_info{
    height: 120px;
    margin-bottom: 50px;
}
.product_price{
    margin-top: 5px;
}
.product_rating{
    display: flex;
    
}
.product>img{
    max-height: 200px;
    width: 100%;
    object-fit: contain;
    margin-bottom: 15px;
    
}
.product>button{
    background-color: #f0c14b;
    border: 1px solid;
    border-color: #a88734 #9c7e31 #846a29 ;
}